.haslayout {
  width: 100%;
  float: left;
}

.error {
  width: 100%;
  float: left;
  padding: 270px 0;
  text-align: center;
  background: url("../images/icons/icon-01.png") no-repeat 50% 90%;
}
.error h2 {
  margin: 0;
  color: #222;
  font-size: 150px;
  line-height: 106px;
}
.error h2 span {
  display: block;
  font-size: 32px;
  line-height: 26px;
  padding: 30px 0 20px;
}
.error h3 {
  margin: 0 0 40px;
  color: #5c5c5c;
  font-size: 16px;
  line-height: 16px;
}
.btn-back {
  color: #fff;
  border-color: #6fbf17;
  background: #6fbf17;
  padding: 0 30px;
  position: relative;
  text-align: center;
  -webkit-border-radius: 22px;
  border-radius: 22px;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #fff;
  text-transform: capitalize;
  font: 400 14px/42px "Saira", Arial, Helvetica, sans-serif;
}
