* {
  margin: 0px;
  padding: 0px;
}
body {
  color: #5c5c5c;
  background: #fff;
  font: 400 14px/24px "Saira", Arial, Helvetica, sans-serif !important;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  color: #484848;
  margin: 0 0 8px;
  font-weight: 400;
  line-height: 1.5;
  font-style: normal;
  text-transform: capitalize;
  font-family: "Saira", Arial, Helvetica, sans-serif;
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 14px;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #484848;
}
p a,
p a:hover {
  text-decoration: underline;
}
p {
  margin: 0 0 20px;
  line-height: 24px;
  letter-spacing: normal;
}
a {
  text-decoration: none;
}
a:hover,
a:focus,
a:active {
  outline: none !important;
  text-decoration: none !important;
  color: #6fbf17;
}
ul {
  margin: 0;
}

img {
  height: auto;
  max-width: 100%;
}
strong {
  color: #414141;
}
iframe {
  width: 100%;
  float: left;
  border: none;
}
button {
  border: none;
}
textarea,
select[type="text"],
.select select,
.form-control,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  color: #8c8c8c;
  outline: none;
  height: 50px;
  background: #fff;
  font-size: 12px;
  line-height: 24px;
  padding: 12px 20px;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  vertical-align: middle;
  text-transform: capitalize;
  -webkit-box-shadow: none;
  box-shadow: none !important;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
textarea.form-control {
  resize: none;
  height: 210px;
}
a,
p a,
p a:hover,
a:hover,
a:focus,
a:active,
.formlogin .form-group span a:hover {
  color: #6fbf17;
}
ul {
  margin: 0;
}
input:focus,
.select select:focus,
.form-control:focus,
.btngreen,
.btngreen:hover {
  border-color: #6fbf17 !important;
}
label {
  color: #666;
  display: block;
  font-weight: 400;
  margin-bottom: 10px;
  max-width: 100%;
}
@import url(https://fonts.googleapis.com/css?family=Saira:300,400,500,600,700);
@font-face {
  font-family: "saginaw_medium";
  src: url("../fonts/saginawmedium-webfont.woff2") format("woff2"),
    url("../fonts/saginawmedium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.form-group {
  width: 100%;
  float: left;
  margin: 0 0 20px;
}
textarea.form-control.contact-textarea {
  resize: none;
  height: 210px;
}
a {
  text-decoration: none;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}
.haslayout {
  width: 100%;
  float: left;
}
.detail .review span {
  width: 100px;
}
.stars span:after,
.stars:before {
  top: 0;
  left: 0;
  font-size: 14px;
  line-height: 14px;
  position: absolute;
  letter-spacing: 4px;
  color: #ffa127 !important;
  font-family: "FontAwesome";
  color: rgba(218, 218, 218, 0.8);
  content: "\f006 \f006 \f006 \f006 \f006";
}
.stars span:after {
  content: "\f005 \f005 \f005 \f005 \f005";
}
.themepostfoot {
  clear: both;
  margin: 0 -20px;
  font-size: 12px;
  line-height: 44px;
  border-top: 1px solid #ddd;
}
/*
Pricing Page
*/
.prices {
  width: 100%;
  float: left;
  color: #5c5c5c;
  font-size: 14px;
  line-height: 20px;
  list-style: none;
  position: relative;
}
.price {
  top: 50%;
  right: 0;
  color: #212121;
  font-size: 20px;
  line-height: 24px;
  position: absolute;
  margin: -12px 0 0 0;
}
.prices:before {
  top: 0;
  left: 50%;
  width: 1px;
  height: 100%;
  content: "";
  position: absolute;
  background: #e5e5e5;
}
.prices li:nth-child(odd) {
  padding-right: 40px;
}
.prices li:nth-child(even) {
  padding-left: 40px;
}
.prices li {
  width: 50%;
  float: left;
  list-style: none;
  line-height: inherit;
}
.prices li:nth-child(1) .pricebox,
.prices li:nth-child(2) .pricebox {
  padding-top: 0;
}
.prices li:nth-child(1) .price,
.prices li:nth-child(2) .price {
  margin: -27px 0 0 0;
}
.pricebox {
  width: 100%;
  float: left;
  position: relative;
  padding: 30px 50px 30px 0;
  border-bottom: 1px solid #e5e5e5;
}
.pricebox h3 {
  margin: 0;
  color: #212121;
  font-size: 20px;
  line-height: 23px;
  position: relative;
  vertical-align: top;
  display: inline-block;
  padding: 0 30px 0 0;
}
.pricebox p {
  margin: 0;
}
.content {
  width: 100%;
  float: left;
}